<h1 class="page_title" id="titulo">MENU PRINCIPAL</h1>

<section class="menu">
    <!-- <a class="boton" id="iniciar" href="#">Crear partida</a> -->
    <a class="boton" id="ranking" href="http://localhost:4200/ranking">Ranking</a>
    <a class="boton" id="perfil" href="#">Ver Perfil</a>
    <a class="boton" id="opciones" href="#">Opciones</a>
    <a class="boton" id="historial" href="#">Historial</a>
    <a class="boton" id="" href="http://localhost:4200/login">Cerrar Sesion</a> 
    <button class="boton" id="botonCrear" (click)="mostrarBotones()">Crear partida</button>
</section>
<div id="creacion" style="visibility: hidden;"><app-mostrar-foto id="" ></app-mostrar-foto></div>