.contenedor{
    display: grid ;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 2;
    margin: 3% 20%;
    background-image: url(./Recuadro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.viewPista{
    margin-top: 51%;
    grid-column: 1/4;
    grid-row: 1;
    height: 100px;   
    display: flex;
    flex-direction: column;
    width: 95%;  
}
.viewPista div{
    width: 80%;
    height: 50px;
    text-align: center  ;
    margin: auto;   
}
.options{
    grid-column: 2 ;
    grid-row: 2;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 80%;
    margin: auto;

}
.options button{
    height: 30px;
    background: #ff0000;              
}
.options button:hover{
    background: #8a4141;
}

#left{
    grid-column: 1 ;
    grid-row: 2;
    display: grid ;
    gap: 5px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 2;
    
}
#rigth{
    grid-column: 3 ;
    grid-row: 2;
    display: grid ;
    gap: 5px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 2;
    align-items: center;
}
.pistas button{
    width: 150px;
    height: 75px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: auto;
    
}

 .pista1{
    grid-column: 1 ;
    grid-row: 1;
}

.pista2{
    grid-column: 2 ;
    grid-row: 1;
}
.pista3{
    grid-column: 1 ;
    grid-row: 2;
}
.pista4{
    grid-column: 2 ;
    grid-row: 2;
}
.pista5{
    grid-column: 1 ;
    grid-row: 1;
}
.pista6{
    grid-column: 2 ;
    grid-row: 1;
}
.pista7{
    grid-column: 1 ;
    grid-row: 2;
}
.pista8{
    grid-column: 2 ;
    grid-row: 2;  
} 