<link rel="stylesheet" href="pista-juego.component.css">
<div class="contenedor">
    <div class="viewPista">
    
    </div>
    <div id="left" class="pistas">
        <button class="pista1">Pista</button>
        <button class="pista2"></button>
        <button class="pista3"></button>
        <button class="pista4"></button>
    </div>
    <div class="opciones">
        <button class="option1"></button>
        <button class="option2"></button>
        <button class="option3"></button>
        <button class="option4"></button>
    </div>
    <div id="rigth" class="pistas">
        <button class="pista5"></button>
        <button class="pista6"></button>
        <button class="pista7"></button>
        <button class="pista8"></button>
    </div>
</div>
