.contenedor{
    display: grid ;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 3;
    gap: 5px;
    margin: 0% 20%; 
    background-image: url(./Recuadro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cartelContenedor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.cartel {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.imagen{
    grid-column: 1/4;
    grid-row: 1;
    align-items: center;
    margin: 7px;
    height: 555px;
    width: 1120px;
}
.imagen img{
    max-height: 100%;
    max-width: 100%;
    clip-path: inset(3% 5% 47% 48%);
}
.viewPista{
    grid-column: 1/4;
    grid-row: 2;
    height: 100%;   
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 3;
}
#VP1{
    grid-column: 2;
    grid-row: 1;
}
#VP2{
    grid-column: 2;
    grid-row: 2;
}
#VP3{
    grid-column: 2;
    grid-row: 3;
}
#VP4{
    grid-column: 2;
    grid-row: 4;
}
#blockPuntaje{
    grid-column: 1;
    grid-row: 1/5; 
    height: 100%;   
    width: 95%;
    margin-top: 20%;
    justify-content: center;
    align-items: center;
}
.puntaje{
    border-radius: 9px;
    text-decoration: none;
    color: #ffff;
    background-color: rgb(255, 0, 0);
    font-family: Arial;
    font-weight: bold;
    border: 3px solid;
    padding: 15px 35px;
    font-size: 25px;
    box-shadow: 0 0 2px black;
    margin: 10px; 
}
#blockTempo{
    grid-column: 3;
    grid-row: 1/5; 
    height: 100%;   
    width: 95%;
    margin-top: 20%;
    justify-content: center;
    align-items: center;
}

.viewPista div{
    width: 80%;
    height: 25px;
    text-align: center  ;
    margin: auto;   
}

.options{
    grid-column: 2 ;
    grid-row: 3;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 80%;
    margin: auto;

}
.options button{
    height: 30px;
    background: #ff0000;              
}
.options button:hover{
    background: #41418a;
}

#left{
    grid-column: 1 ;
    grid-row: 3;
    display: grid ;
    gap: 5px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 2;
    
}
#rigth{
    grid-column: 3 ;
    grid-row: 3;
    display: grid ;
    gap: 5px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 2;
    align-items: center;
}
.pistas button{
    width: 150px;
    height: 75px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: auto;
    
}








.contenedorNuevo
{
    justify-content: center;
    align-items: center;
}
.TemporizadorNuevo
{
    border-radius: 9px;
    text-decoration: none;
    color: #ffff;
    background-color: rgba(255, 0, 0, 0.537);
    font-family: Arial;
    font-weight: bold;
    border: 3px solid;
    padding: 15px 35px;
    font-size: 25px;
    box-shadow: 0 0 2px black;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.puntajeNuevo
{
    border-radius: 9px;
    text-decoration: none;
    color: #ffff;
    background-color: rgba(0, 89, 255, 0.537);
    font-family: Arial;
    font-weight: bold;
    border: 3px solid;
    padding: 15px 35px;
    font-size: 25px;
    box-shadow: 0 0 2px black;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
