
<div class="contenedor">
    <div class="viewPista">
        <div class="VP1"> </div>
        <div class="VP2"> </div>
        <div class="VP3"> </div>
        <div class="VP4"> </div>
    </div>
    <div id="left" class="pistas">
        <button class="pista1"><img id="tercio" src="./1terci.jpg" alt="asd"></button>
        <button class="pista2">Pista2</button>
        <button class="pista3">Pista3</button>
        <button class="pista4">Pista4</button>
    </div>
    <div class="options">
        <button class="option1">Opcion1</button>
        <button class="option2">Opcion2</button>
        <button class="option3">Opcion3</button>
        <button class="option4">Opcion4</button>
    </div>
    <div id="rigth" class="pistas">
        <button class="pista5">Pista5</button>
        <button class="pista6">Pista6</button>
        <button class="pista7">Pista7</button>
        <button class="pista8">Pista8</button>
    </div>
</div>
