<div id="tablero" class="contenedor">

    <div *ngIf="cartelInicio" class="cartelContenedor">
        <div class="cartel">
          <h2>Bienvenido</h2>
          <p>Presiona "Empezar" para iniciar el temporizador</p>
          <button class="botonEmpezar" (click)="iniciarPartida()">Empezar</button>
        </div>
    </div>

    <div class="imagen">
        <img id="fotoA" src="{{juegos[contJuego].foto}}" alt="Foto Juego">
    </div>

    <div class="viewPista">

        <div id="blockPuntaje">
            <span class = "puntajeNuevo">{{puntaje}}</span>
        </div>

        <div id="VP1" class="VP" style="visibility: hidden;" >{{juegos[contJuego].plataformas}}</div>
        <div id="VP2" class="VP" style="visibility: hidden;"></div>
        <div id="VP3" class="VP" style="visibility: hidden;">{{juegos[contJuego].fecha}}</div>
        <div id="VP4" class="VP" style="visibility: hidden;">{{juegos[contJuego].generos}}</div>

        <div id="blockTempo">
            <app-temporizador *ngIf="empezar" [terminar]="terminar" (mensajeEnviado)="recibindoDatosDesdeTemporizador($event)" class="tempo"></app-temporizador>
        </div>

    </div>

    <div id="left" class="pistas">
        <button id="50%" class="pista"  (click)="handlePistaButtonClick('50%')">50%</button>
        <button id="eliminaOp" class="pista" (click)="pistaEliminaOp()">33%</button>
        <button id="imgP" class="pista" (click)="fotoCompleta()">Agrandar Imagen</button>
        <button id="jump" class="pista" (click)="saltarFoto()">Saltear imagen</button>
    </div>

    <div class="options">
        <button id="opcion0" class="option" (click)="handleOptionButtonClick(juegos[contJuego].nombresOpciones[0])">{{juegos[contJuego].nombresOpciones[0]}}</button>
        <button id="opcion1" class="option" (click)="handleOptionButtonClick(juegos[contJuego].nombresOpciones[1])">{{juegos[contJuego].nombresOpciones[1]}}</button>
        <button id="opcion2" class="option" (click)="handleOptionButtonClick(juegos[contJuego].nombresOpciones[2])">{{juegos[contJuego].nombresOpciones[2]}}</button>
        <button id="opcion3" class="option" (click)="handleOptionButtonClick(juegos[contJuego].nombresOpciones[3])">{{juegos[contJuego].nombresOpciones[3]}}</button>
    </div>

    <div id="rigth" class="pistas">
        <button id="consola" class="pista" (click)="handlePistaButtonClick('consola')">Consolas</button>
        <button id="creadores" class="pista" (click)="handlePistaButtonClick('creadores')">Creadores</button>
        <button id="fecha" class="pista" (click)="handlePistaButtonClick('fecha')">Fecha</button>
        <button id="genero" class="pista" (click)="handlePistaButtonClick('genero')">Generos</button>
    </div>
    
    <div *ngIf="cartelFinal" class="cartelContenedor">
        <div class="cartel">
          <h2>Felicidades tus puntos son : {{puntaje}}</h2>
          <p>Presiona "Continuar" para volver terminar la partida</p>
          <p>Presiona "Jugar otra" para empezar otra</p>
          <button class="botonEmpezar" (click)="iniciarPartida()">Empezar</button>
          <button class="botonEmpezar" (click)="empezarOtra()">Jugar otra</button>
        </div>
    </div>
</div>


