.contenedor{
    display: grid ;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 3;
    gap: 5px;
}

.cartelContenedor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.cartel
{
    /*background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;*/

    background-color: #0073ff;
    color: white;

    font-size: 25px;
    font-weight: bold;
    font-family: Arial;
    text-decoration: none;
    text-align: center;

    border: 5px solid;
    border-radius: 20px;
    border-color: #0022ff;

    padding: 15px 35px;
    box-shadow: 10px 10px 5px black;
    margin: auto;
}

.botonEmpezar
{
    color: black;
    background-color: rgba(0, 221, 255, 0.671);

    font-size: 25px;
    font-weight: bold;
    font-family: Arial;
    text-decoration: none;

    border: 5px solid;
    border-radius: 20px;
    border-color: #1100ff;

    padding: 15px 35px;
    box-shadow: 10px 10px 5px black;
    margin: auto;  

    width: 250px;
    height: 75px;
}

.botonEmpezar:hover
{
    color: #ffffff;
    background-color: rgba(51, 0, 255, 0.784);
} 


.imagen{
    grid-column: 1/4;
    grid-row: 1;
    align-items: center;
    margin: 7px;
    height: 555px;
    width: 1120px;
}
.imagen img{
    max-height: 100%;
    max-width: 100%;
    clip-path: inset(3% 5% 47% 48%);
}
.viewPista{
    grid-column: 1/4;
    grid-row: 2;
    height: 100%;   
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 3;
}
#VP1{
    grid-column: 2;
    grid-row: 1;
}
#VP2{
    grid-column: 2;
    grid-row: 2;
}
#VP3{
    grid-column: 2;
    grid-row: 3;
}
#VP4{
    grid-column: 2;
    grid-row: 4;
}
#blockPuntaje{
    grid-column: 1;
    grid-row: 1/5; 
    height: 100%;   
    width: 95%;
    margin-top: 20%;
    justify-content: center;
    align-items: center;
}
.puntaje{
    border-radius: 9px;
    text-decoration: none;
    color: #ffff;
    background-color: rgb(0, 55, 255 0.764);
    font-family: Arial;
    font-weight: bold;
    border: 3px solid;
    padding: 15px 35px;
    font-size: 25px;
    box-shadow: 0 0 2px black;
    margin: 10px; 
}
#blockTempo{
    grid-column: 3;
    grid-row: 1/5; 
    height: 100%;   
    width: 95%;
    margin-top: 20%;
    justify-content: center;
    align-items: center;
}

.viewPista div{
    width: 80%;
    height: 25px;
    text-align: center  ;
    margin: auto;   
}

.options{
    grid-column: 2 ;
    grid-row: 3;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 80%;
    margin: auto;

}
.options button
{
    height: 50px;
    background: #0073ff;  
    
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    border: 3px solid;
    padding: 15px 35px;
    font-size: 11px;
    box-shadow: 0 0 2px black;            
}
.options button:hover   
{
    background: #7300ff;
}

#left{
    grid-column: 1 ;
    grid-row: 3;
    display: grid ;
    gap: 5px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 2;
    
}
#rigth{
    grid-column: 3 ;
    grid-row: 3;
    display: grid ;
    gap: 5px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 2;
    align-items: center;
}

.pistas button
{
    width: 150px;
    height: 85px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: auto;

    border-radius: 25px;
    text-decoration: none;
    color: #000000;
    background-color:rgba(172, 255, 47, 0.784);
    font-family: Arial;
    font-weight: bold;
    border: 3px solid;
    padding: 15px 35px;
    font-size: 20px;
    box-shadow: 0 0 2px black;

}

.pistas button:hover
{
    color: #ffffff;
    background-color: rgba(51, 0, 255, 0.784);
}







.contenedorNuevo
{
    justify-content: center;
    align-items: center;
}


.puntajeNuevo
{
    border-radius: 9px;
    text-decoration: none;
    color: #ffff;
    background-color: rgba(0, 89, 255, 0.537);
    font-family: Arial;
    font-weight: bold;
    border: 3px solid;
    padding: 15px 35px;
    font-size: 25px;
    box-shadow: 0 0 2px black;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

