<div *ngIf="cartelInicio" class="cartelContenedor">
    <div class="cartel">
      <h2>Bienvenido</h2>
      <p>Presiona "Empezar" para iniciar el temporizador</p>
      <button class="botonEmpezar" (click)="iniciarPartida()">Empezar</button>
    </div>
</div>

<div id="tablero" class="contenedor">
    <div class="imagen">
        <img id="fotoA" class="foto" src="{{juegos[contJuego].foto}}" alt="Foto Juego" style="visibility: hidden;">
        <!-- <img id="fotoB" class="foto" src="assets\GifDicaproMordiendoMano.gif" alt="Foto Juego" style="visibility: visible;" style="position: absolute;"> -->
    </div>

    <div class="viewPista">

        <div id="blockPuntaje">
            <span class = "puntajeNuevo">{{puntaje}}</span>
        </div>
        <div id="VP1" class="VP" style="visibility: hidden;" >{{juegos[contJuego].plataformas}}</div>
        <!-- <div id="VP2" class="VP" style="visibility: hidden;"></div> -->
        <div id="VP3" class="VP" style="visibility: hidden;">{{juegos[contJuego].fecha}}</div>
        <div id="VP4" class="VP" style="visibility: hidden;">{{juegos[contJuego].generos}}</div>

        <div id="blockTempo">
            <app-temporizador *ngIf="empezar" [terminar]="terminar" (mensajeEnviado)="recibindoDatosDesdeTemporizador($event)" class="tempo"></app-temporizador>
        </div>

    </div>

    <div id="left" class="pistas">
        <!-- <button id="50%" class="pista"  (click)="handlePistaButtonClick('50%')">Invetntar</button> -->
        <p class="parrafo">50% =></p>
        <button id="eliminaOp" class="pista" (click)="pistaEliminaOp()">50 Puntos</button>
        <p class="parrafo">Agrandar Imagen =></p>
        <button id="imgP" class="pista" (click)="fotoCompleta()">25 Puntos</button>
        <p class="parrafo">Saltear imagen =></p>
        <button id="jump" class="pista" (click)="saltarFoto()">5 Puntos</button>
    </div>

    <div class="options">
        <button id="opcion0" class="option" (click)="handleOptionButtonClick(juegos[contJuego].nombresOpciones[0])">{{juegos[contJuego].nombresOpciones[0]}}</button>
        <button id="opcion1" class="option" (click)="handleOptionButtonClick(juegos[contJuego].nombresOpciones[1])">{{juegos[contJuego].nombresOpciones[1]}}</button>
        <button id="opcion2" class="option" (click)="handleOptionButtonClick(juegos[contJuego].nombresOpciones[2])">{{juegos[contJuego].nombresOpciones[2]}}</button>
        <button id="opcion3" class="option" (click)="handleOptionButtonClick(juegos[contJuego].nombresOpciones[3])">{{juegos[contJuego].nombresOpciones[3]}}</button>
    </div>

    <div id="rigth" class="pistas">
        <p class="parrafo">Mostrar consola => </p>
        <button id="consola" class="pista" (click)="handlePistaButtonClick('consola')">10 Puntos</button>
        <!-- <button id="creadores" class="pista" (click)="handlePistaButtonClick('creadores')">Creadores</button> -->
        <p class="parrafo">Mostrar fecha =></p>
        <button id="fecha" class="pista" (click)="handlePistaButtonClick('fecha')">5 Puntos</button>
        <p class="parrafo">Mostrar genero =></p>
        <button id="genero" class="pista" (click)="handlePistaButtonClick('genero')">15 Puntos</button>
    </div>
    
</div>

<div *ngIf="cartelFinal" class="cartelContenedor">
    <div class="cartel">
      <h2>Felicidades tus puntos son : {{puntaje}}</h2>
      <p>Presiona "Continuar" para volver al menu principal</p>
      <p>Presiona "Jugar otra" para empezar otra</p>
      <button (click)="finalizarPartida()">Continuar</button>
      <button (click)="empezarOtra()">Jugar otra</button>
    </div>
</div>

<div *ngIf="cartelAdvertencia" class="cartelContenedor">
    <div class="cartel">
      <h2>Si saltas pierdes tus pistas</h2>
      <button (click)="saltarFotoPerdiendoPuntos()">Aceptar</button>
      <button (click)="cartelAdvertencia=false">Cancelar</button>
    </div>
</div>
