.tabla
{
    width: 100%;
    
    color: rgb(178, 253, 64);
    background-color: rgb(32, 32, 32);
    
    font-family: Arial;
    font-size:x-large;

    border: 1px solid rgb(178, 253, 64);
    border-collapse: collapse;

    text-align: center;
}

tr, td, th
{
    border: 1px solid rgb(178, 253, 64);
}
