<section class="logueo">
    <form action="" class="form_login">
        <h3>Iniciar Sesión</h3>
        <input class="control" type="text" value="" name="usuario" id="Usuario" placeholder="Nombre de Usuario"required>
        <input class="control" type="password" value="" name="password" id="Password" placeholder="Password" required>
        <button class="botones" id="ingresar" type="submit" value="Ingresar">Ingresar</button>
    
        <p><a href="#">¿No tienes una cuenta?</a></p>
    </form>
</section>

<!--
<section class="logueo">
    <form action="" class="form_login">
        <h3>Iniciar Sesión</h3>
        <input class="control" id="nombre" type="text" value="" name="usuario" id="Usuario" placeholder="Nombre de Usuario"required>
        <input class="control" id="password" type="password" value="" name="password" id="Password" placeholder="Password" required>
        <input class="botones" id="ingresar" type="submit" value="Ingresar">
    
            <p><a href="#">¿Olvidaste tu contraseña?</a></p>
    </form>
</section>
-->
