*
{
    margin: 0;
    padding: 0;
}
#iniciar
{
    justify-content: center;
    background-color: aqua;
}

.content
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    place-items: center;
}

.content h1
{
    font-family: 'Century Gothic', sans-serif;
    font-size: 500%;
    color: #f9f3f4;
    text-shadow: 0 0 300px black;
}

.buttons 
{
    border-radius: 9px;
    text-decoration: none;
    color: #f9f3f4;
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    border: 3px solid;
    padding: 5px 10px;
    margin: 15px;
}