<section *ngIf="menu" class="menu">
 
    <button class="botonNuevo" (click)="desabilitarTodosLosComponentes();menu=false;crearPartida=true">Crear Partida</button>
    <button class="botonNuevo" (click)="desabilitarTodosLosComponentes();ranking=true">Ranking</button>
    <button class="botonNuevo" >Ver Perfil</button>
    <button class="botonNuevo" >Opciones</button>
    <button class="botonNuevo" >Historial</button>
    <button class="botonNuevo" >Cerrar Sesion</button>

</section>

<div *ngIf="crearPartida">
    <app-mostrar-foto (mensajeEnviado)="recibiendoDatosDesdeCreadorPartida($event)"></app-mostrar-foto>
</div>
<div *ngIf="ranking">
    <app-ranking></app-ranking>
</div>

