.menu
{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    place-items: center;

    font-family: Arial;
    font-weight: bold;
}

/*
.boton
{
    width: 200px;
    height: 35px;

    margin: 10px;
    padding: 15px;

    box-shadow: 10px 10px 5px black;

    border: 5px solid rgb(115, 165, 0);
    border-radius: 15px;
    border-color: rgba(51, 255, 0, 0.709);

    background-color: greenyellow;
    color: black;

    text-align: center;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
}*/



.botonNuevo
{
    color: black;
    background-color: rgba(172, 255, 47, 0.784);

    font-size: 25px;
    font-weight: bold;
    font-family: Arial;
    text-decoration: none;

    border: 5px solid;
    border-radius: 20px;
    border-color: rgba(51, 255, 0, 0.709);

    padding: 15px 35px;
    box-shadow: 10px 10px 5px black;
    margin: 10px auto;  

    width: 250px;
    height: 75px;
}

.botonNuevo:hover
{
    color: #ffffff;
    background-color: rgba(51, 0, 255, 0.784);
}