<section *ngIf="menu" class="menu">
 
    <button class="botonNuevo" (click)="desabilitarTodosLosComponentes();menu=false;crearPartida=true">Crear Partida</button>
    <button class="botonNuevo" (click)="desabilitarTodosLosComponentes();ranking=true">Ranking</button>
    <!-- <button class="botonNuevo" routerLink="/perfil">Ver Perfil</button> -->
    <button class="botonNuevo" (click)="desabilitarTodosLosComponentes();perfil=true">Ver Perfil</button>
    <button class="botonNuevo" >Opciones</button>
    <button class="botonNuevo" >Historial</button>
    <button class="botonNuevo" (click)="cerrarSesion()">Cerrar Sesion</button>

</section>

<div *ngIf="crearPartida">
    <app-mostrar-foto (mensajeEnviado)="recibiendoDatosDesdeCreadorPartida($event)"></app-mostrar-foto>
</div>
<div *ngIf="ranking">
    <app-ranking></app-ranking>
</div>

<div *ngIf="perfil">
    <app-perfil-usuario></app-perfil-usuario>
</div>

